*.log
*.log_old
*.txt_old
screenshots/
logs/*.txt
logs/*.txt_old
logs/*.log
logs/*.log_old
temp/
.idea
__pycache__
target
src/main/python/__pycache__
src/main/python/*.pyo
src/main/resources
env/
env36/